@import '../../App.scss';

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 60px;
        max-width: 80%;

        @include tablet{
            flex-direction: row-reverse;
        }

        .login-left{
            flex: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $gradient-primary, url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
            background-size: cover;
            display: none;

            @include tablet{
                display: block;
                flex: 1;
            }
           
            h1{
                font-weight: 600;
                font-size: 50px;
                color: $darkTextColor;
                margin: 20px 0 10px 0;
        
                @include tablet{
                    font-size: 40px;
                    margin: 60px 0 20px 0;
                }
                @include large{
                    font-size: 50px;
                }
            }
           p{
                font-size: 22px;
                color: $darkTextColor;
                margin-bottom: 10px;
           } 
           span{
                font-size: 14px;
                color:$darkTextColor;
           }
           button{
            border-radius: 5px;
            border: none;
            background-color: $tertiary;
            color: $textColor;
            padding: 15px 20px;
            margin: 10px 0;
            cursor: pointer;
            text-transform: uppercase;
            
                &:hover{
                    background-color:$tertiary-hover;
                }
                &:focus, &:active{
                    outline:none;
                }
                &:disabled{
                    cursor: not-allowed;
                }
           }
        }
        .login-right{
            flex: 1;
            padding: 40px;
            display: flex;
            background-color: $form-background;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            @include tablet{
                align-items: center;
            }
           
            h1{
                font-size: 30px;
                font-weight: 600;
                
            }
            
            form{
                display: flex;
                flex-direction: column;
                gap: 20px;

                input{
                    border: none;
                    background-color: $darkTextColor;
                    padding: 20px 10px;
                    width: 100%;
                }

                button{
                    width: 50%;
                    border: none;
                    background-color: $secondary;
                    color: white;
                    padding: 15px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    text-transform: uppercase;

                    &:hover{
                        background-color: $secondary-hover;
                    }
                }
            }
        }
    }
} 