@import "../../App.scss";

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;
  position: relative;

  @include tablet {
    margin: 15px 0 0 15px;
  }

  .search {
    display: flex;
    padding-left: 15px;

    @include tablet {
      padding-left: 0;
    }

    input {
      border: none;
    }
  }
}
