@import '../../App.scss';

.share{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.38);
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.38);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 10px; 

    .container{
        
        .top{
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 10px;
    
            .left{
                display: flex;
            }

            .right{

                .file{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 0;
                }
            }

            img{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }

            input{
                margin-left: 10px;
                border: none;
                width: 80vw;
    
                @include tablet{
                    width: 40vw;
                }
    
                &:focus{
                    outline: none;
                }
            }

        }

        .rule{
            margin-bottom: 15px;
        } 

        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
    
            .left{
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                }
                
                input{
                    position: absolute;
                    top: -25px;
                }

                .item{
                
                    .cancel{
                        background-color: $primary;
                        color: $darkTextColor;
                        position: absolute;
                        left: 100px;
                        font-size: 14px;
                        top: 0px;
                        padding: 0 7px;
                        
                    }
                }
                
            }
    
            button{
                display: flex;
                align-items: center;
                height: 32px;
                border: none;
                border-radius: 5px;
                padding: 15px 10px;
                background-color: $secondary;
                color: $darkTextColor;
                font-weight: 600;
                cursor: pointer;
            }  
        }
    }
    
}