@import '../../App.scss';

.edit{
    position: absolute;
    right: 0;
    background-color: $form-background;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 200;
   /*  .left{ */
        
        .edit-form{
            display: flex;
            flex-direction: column;
            
            gap: 5px;

            label{
                font-size: 15px;
            }
        }
   /*  } */

    /* .right{ */
        /* display: flex;
        justify-content: space-between;
        gap: 10px; */
        
        .edit-button, .delete-button{
            padding: 5px 10px;
            border-radius: 5px;
            background-color: $secondary;
            color: $darkTextColor;
            margin: 5px 0;
        }
        
        .edit-button{
            margin-top: 10px;
        }
        .delete-button{
            background-color: $primary;
            color: $darkTextColor;
        }

  /*   } */
}