@import '../../App.scss';

.edit{
    position: absolute;
    right: 30px;
    top: 25px;

    .left{

    }

    .right{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        .edit-button, .delete-button{
            padding: 5px 10px;
            border-radius: 5px;
            background-color: $secondary;
            color: $darkTextColor;
            margin: 5px 0;
        }

        .delete-button{
            background-color: $primary;
            color: $darkTextColor;
        }

    }
}