@import '../../../App.scss';

.more{
    position: relative;
    
    a{
        position: absolute;
        width: 350px;
        left: -260px;
        background-color: $primary;
        color: $darkTextColor;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 18px;
    }
}