@import '../../App.scss';

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .logo{
            color: $primary;
            font-weight: 900;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }

        .search{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            
            input{
                padding: 5px;
            }
        }
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        a{
            color: $secondary;
        }

        .profile-icon{
            cursor: pointer;
            position: relative;
            font-size: 2rem;
            color: $textColor;
        }
        .profile-menu{
            position: absolute;
            top: 40px;
            right: 20px;
            z-index: 999;
        }

    }
}