@import '../../App.scss';

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .logo{
            color: $secondary;
            font-weight: 900;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }

        .search{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            
            input{
                padding: 5px;
            }
        }
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        .profile-icon{
            cursor: pointer;
            position: relative;
            font-size: 2rem;
            color: $secondary;
        }
        ul{
            color: $textColor;
            background-color: $darkTextColor;
            padding: 5px 10px;
            position: absolute;
            border: 1px solid $background;
            border-radius: 10px;
            top: 40px;
            right: 5px;
            width: 35%;
            z-index: 99;

            @include tablet{
                width: 20%;
                right: 15px;
            }
            @include desktop{
                width: 15%;
                right: 15px;
            }

            a{
                font-size: 18px;
            }
        }
        
        .user{
            display: flex;
            gap: 10px;
            align-items: center;
            
            span{
                font-size: 14px;
            }

            img{
                height: 30px;
                width: 30px;
                object-fit: cover;
                border-radius: 50%;
            }
        }

    }
}