@import '../../App.scss';

.header{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    .left{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        

        @include mobile{
            gap: 10px;
        }
        .logo{
            color: $secondary;
            font-weight: 900;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }

        .search{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            
            input{
                padding: 5px;
            }
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 10px;
        
        .notifications{
            cursor: pointer;
        }

        .logout-button{
            border: 1px solid $primary;
            color: $textColor;
            padding: 3px 7px;
            border-radius: 5px;
        }
       
        .user{
            
            .profile-icon{
                position: relative;
                cursor: pointer;

            }
            ul{
                position: absolute;
                right: 15px;
                top: 60px;
                background-color: $primary;
                color: $darkTextColor;
                padding: 10px;
                width: 20%;

                @include mobile{
                    top: 50px;
                }
            }
            img{
                height: 30px;
                width: 30px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}