@import '../../App.scss';

.notifications{ 
    position: relative;
    

    .notifications-content{
        width: 55vw;
        position: absolute;
        right: 5px;
        top: 44px;

        @include mobile{
            width: 50vw;
        }
        @include tablet{
            width: 30vw;
        }

        h3{
            background-color: $secondary;
            color: $darkTextColor;
            padding: 10px 20px;
        }
        ul{
            background-color: $background;
            padding: 5px;
            border-radius: 0 0 10px 10px;
          
            li{
                background-color: $darkTextColor;
                color: $textColor;
                margin: 8px;
                padding: 5px;
            }
        }
        
    }
}