@import '../../../App.scss';

.footer{
    padding: 15px 0;
    font-size: 14px;
    color: $textColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .top{
        display: flex;
        gap: 15px;
    }
    .bottom{
        display: flex;
    }
}