#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0;
}

body{
  font-family: Nunito,Roboto,Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: Lora, 'Times New Roman', Times, serif;
}